::-webkit-scrollbar {
    width: 8px;
    background-color:  orangered;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    img.logo {
        width: 100px;
        height: 100px;
        background-color: orange;
        border-radius: 50%;
        border-color: orange;
        border-width: 5px;
        padding: 5px;
    }

    a.top-left {
        margin-top: auto;
    }

    button.btn {
        background-color: orange;
        font-weight: bold;
        color: white;
        border: 2px solid black;
        padding: 5px;
        font-size: 1.2em;
        border-radius: 5px;
        cursor: pointer
    }

    button.btn-active {
        background-color: orange;
        font-weight: 700;
        color: black;
        border: 2px solid black;
        padding: 5px;
        font-size: 1.2em;
        border-radius: 5px;
        cursor: pointer
    }

    h1.homepage-welcome {
        color: darkorange;
        margin-right: auto;
        margin-left: auto;
    }

    p.homepage-description {
        color: orangered;
        margin-right: auto;
    }

    img.card {
        width: 50%;
        height: 50%;
    }

    td.card {
        width: 100px;
        height: 100px;
        top: 50%;
        bottom: 50%;
        /* padding: 1px; */
        text-align: center;
    }

    td.card-description {
        width: 50px;
        height: 50px;
        /* top: 50%; */
        /* bottom: 50%; */
        text-align: center;
    }

    td {
        padding: 1px;
    }

    p.card-description {
        width: 50px;
        height: 50px;
        text-align: center;
        color: white;
    }

    table {
        border: 1px solid orangered;
    }


    body {
        height: 125vh;
        margin-top: 80px;
        padding: 30px;
        background-size: cover;
        background-color: black;
        font-family: sans-serif;
    }

    header {
        background-color: orange;
        position: fixed;
        left: 0;
        right: 0;
        top: 5px;
        height: 30px;
        display: flex;
        align-items: center;
        box-shadow: 0 0 25px 0 black;
    }

    header * {
        display: inline;
    }

    header li {
        margin: 20px;
    }

    header li a {
        color: blue;
        text-decoration: none;
    }
}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
